/*以下是top部分样式*/
.top_t{
	background: #363636;
	height: 36px;
}
.top_t_inner{
	width: 1240px;
	margin: 0 auto;
	color: #bfbfbf;
}
.top_t_inner .list1 li{
	float: left;
	line-height: 36px;
	margin-right: 20px;
}
.top_t_inner .list1 .telshop i{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 2px;
	width: 22px;
	height: 15px;
	background: url(../../resource/img/head-icons.png) no-repeat -2px -268px;
	animation: mymove 0.3s linear 0s infinite;
}
@keyframes mymove{
	0%{transform: rotateZ(-15deg)}
	50%{transform: rotateZ(15deg)}
	100%{transform: rotateZ(-15deg)}
}
.top_t_inner .list2{
	float: right;
}
.top_t_inner .list2 li{
	float: left;
	line-height: 36px;
	margin-left: 20px;
}
.top_b{
	height: 60px;
	background: #520ccf;
}
.top_b_inner{
	width: 1240px;
	margin: 0 auto;
}
.top_b_inner img{
	height: 60px;
}
/*以下是header部分样式*/
#header{
	height: 118px;
}
.header_inner{
	width: 1240px;
	height: 118px;
	margin: 0 auto;
	position: relative;
}
.header_inner .logo{
	width: 150px;
	height: 118px;
	display: block;
	float: left;
}
.header_inner .logo img{
	display: inline-block;
	height: 40px;
	width: 150px;
	margin-top: 39px;
}
.header_inner .search{
	position: absolute;
	left: 508px;
	top: 30px;
	height: 78px;
}
.header_inner .search .left{
	width: 430px;
	height: 40px;
	border: 1px solid #23ac38;
	float: left;
	padding: 0 15px;
	outline: none;
}
.header_inner .search .right{
	width: 72px;
	height: 42px;
	border: 1px solid #23ac38;
	float: left;
	background: #23ac38 url(../../resource/img/head-icons.png) no-repeat;
	background-position: 22px -111px;
	outline: none;
	cursor: pointer;
	opacity: 0.9;
}
.header_inner .search .right:hover{
	opacity: 1;
}
.header_inner .search .list{
	float: left;
	
}
.header_inner .search .list li{
	float: left;
	margin-top: 15px;
	margin-right: 10px;	
}
.header_inner .search .list li a:hover{
	color: #ed3714;
}
.header_inner .shoppingCart-box{
	width: 156px;
	height: 41px;
	float: right;
	margin-top: 30px;
	border: 1px solid #dddddd;
	position: relative;
	background:#f9f9f9 ;
}
.header_inner .shoppingCart-box .shoppingCart{	
	background: url(../../resource/img/head-icons.png) no-repeat 28px 13px;
	display: block;
	text-align: center;
	line-height: 41px;
	cursor: pointer;
	z-index: 100001;
	position: absolute;
	width: 156px;
}
.header_inner .shoppingCart-box .cart{
	width: 380px;
	border: 1px solid #ddd;
	position: absolute;
	right: -1px;
	top: 40px;
	z-index: 10000;
	background: #fff;
	display: none;
}
.header_inner .shoppingCart-box .cart .cart-tip{
	padding: 40px 0;
	text-align: center;
	
}
/*以下是nav部分样式*/
#nav{
	height: 37px;
	border-bottom: 1px solid #000;
	position: relative;	
}
.nav_inner{
	width: 1240px;
	margin: 0 auto;
	
}
/*.nav_inner .nav_list{
	position: relative;	
}*/
.nav_inner .nav_list .subBox{
	width: 100%;
	position: absolute;
	left: 0;
	top: 37px;
	z-index: 999;
	background: #f5f5f5;
	height: 0;
	display: none;
}
.nav_inner .nav_list .subBox ul{
	width: 1240px;
	margin: 35px auto 25px auto;
	overflow: hidden;
}
.nav_inner .nav_list .subBox ul li{
	float: left;
	width: 200px;
	text-align: center;
	margin: 0;
}
.nav_inner .nav_list .subBox ul li img{
	width: 120px;
	height: 120px;
	border-left: 1px solid #ccc;
	padding: 0 40px;
}
.nav_inner .nav_list .subBox ul li .firstPic{
	border: 0	
}
.nav_inner .nav_list .subBox ul li span{
	color: #232426;
	display: block;
	line-height: 18px;
	margin-top: 12px;
}
.nav_inner .nav_list .subBox ul li i{
	font-style: normal;
	color: #ee4a25;
	display: block;
	line-height: 18px;
}
.nav_inner .nav_list li{
	float: left;
	font-size: 14px;
	line-height: 37px;
	margin-right: 24px;
}
.nav_inner .nav_list .first{
	width: 210px;
	height: 37px;
	text-align: center;
	line-height: 37px;	
	background: #363636;
}
.nav_inner .nav_list .first a{
	display: block;
}
.nav_inner .nav_list .first a:before{
	background:  url(../../resource/img/head-icons.png) no-repeat 3px -300px;
	width: 26px;
	height: 26px;
	content: " ";
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
	margin-left: 3px;
}
.nav_inner .nav_list .first:hover a:before{
	background:  url(../../resource/img/head-icons.png) no-repeat -23px -300px;;
}
.nav_inner .nav_list .first a{
	color: #fff;
}
/*以下为main部分样式*/
#main{
	padding-bottom: 40px;
}
.main_inner{
	width: 1240px;
	margin: 0 auto;
	padding-top: 20px;
	overflow: hidden;
}
.main_top .picBox{
	width: 552px;
	float: left;
	position: relative;
}
.main_top .picBox .small{
	width: 480px;
	height: 480px;
	border: 1px solid #dddddd;
	margin: 0 auto;
	position: relative;
	background: url(../../resource/img/59264e07N797a8757.jpg) no-repeat;
	background-size:cover;
}
.main_top .picBox .small .select{
	width: 120px;
	height: 120px;
	background: pink;
	opacity: 0.5;
	position: absolute;
	left: 0;
	top:0;
	display: none;
}
.main_top .picBox .small .hide{
	width: 480px;
	height: 480px;
	opacity: 0;
}
.main_top .picBox .big{
	background: #fff url(../../resource/img/59264e07N797a8757.jpg) no-repeat;
	width: 480px;
	height: 480px;
	position: absolute;
	top: 0;
	left: 518px;
	z-index: 999;
	display: none;
}
.main_top .picBox .selectBox{
	width: 580px;
	height: 66px;
	margin-top: 15px;
	position: relative;
	overflow: hidden;
}
.main_top .picBox .selectBox .leftBtn{
	position: absolute;
	left: 0;
	top: 50%;
	margin: -10px 15px 0 15px;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../resource/img/details-left.png);
	cursor: pointer;
}
.main_top .picBox .selectBox .rightBtn{
	position: absolute;
	right: 0;
	top: 50%;
	margin: -10px 15px 0 15px;
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(../../resource/img/details-right.png);
}
.main_top .picBox .selectBox .scrollBox{
	width: 504px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.main_top .picBox .smallPic{
	width: 1000px;
	
}
.main_top .picBox .smallPic li{
	width: 64px;
	height: 64px;
	float: left;
	border: 1px solid #dddddd;
	margin: 0 18px;
	cursor: pointer;
}
.main_top .picBox .smallPic li img{
	width: 64px;
	height: 64px;
}
.main_top .picBox .favoritebtn{
	padding-left: 30px;
	background: url(../../resource/img/favoritebtn.png) no-repeat;
	margin-top: 20px;
	color: #333;
	font-size: 18px;
	line-height: 18px;
	cursor: pointer;
}
.main_top .main_top_r{
	width: 620px;
	float: right;
}
.main_top .main_top_r h2{
	font-size: 28px;
	line-height: 44px;
	width: 600px;
	padding: 10px 0;
}
.main_top .main_top_r .message{
	width: 600px;
	font-size: 14px;
	line-height: 24px;
	color: #e43636;
}
.main_top .main_top_r .message a{
	color: #646eb0;
	text-decoration: underline;
}
.main_top .main_top_r strong{
	display: block;
	font-size: 36px;
	color: #FA5437;
	padding-left: 10px;
	margin: 40px 0;
}
.main_top .main_top_r strong span{
	font-size: 30px;
}
.main_top .main_top_r .gift{
	width: 620px;
	position: relative;
}
.main_top .main_top_r .gift .gift-label{
	display: inline-block;
	position: relative;
	color: #fd532d;
	border: 1px solid #fd532d;
	padding: 0 10px;
	height: 24px;
	line-height: 24px;
	vertical-align: top;
	margin-right: 10px;
}
.main_top .main_top_r .gift .gift-label span{
	position: absolute;
	background: #fff;
	right: -4px;
	top: 10px;
	width: 4px;
	height: 4px;
	border-right: 1px solid #fd532d;
	border-top: 1px solid #fd532d;
	transform: rotateZ(45deg);
}
.main_top .main_top_r .gift .gift-list{
	display: inline-block;
	
}
.main_top .main_top_r .gift .gift-list li{
	line-height: 23px;
	margin-bottom: 7px;
}
.main_top .main_top_r .gift .gift-list li a{
	color: #666;
}
.main_top .main_top_r .gift .gift-list li span{
	color: #666;
}
.main_top .main_top_r .gift .gift-list li i{
	color: #A0A0A0;
	font-style: normal;
}
.main_top .main_top_r .gift .gift-up{
	width: 20px;
	height: 20px;
	background: url(../../resource/img/item-arrowup.png) no-repeat center;
	display: inline-block;
	position: absolute;
	right: 40px;
	top: 0;
	cursor: pointer;
}
.main_top .main_top_r .address{
	overflow: hidden;
	font-size: 13px;
	margin-top: 30px;
	margin-bottom: 50px;
}
.main_top .main_top_r .address .g-address{
	display: inline-block;
	color: #005ea7;
}
.main_top .main_top_r .address i{
	display: inline-block;
	vertical-align: middle;
	width: 7px;
	height: 4px;
	background: url(../../resource/img/icon-list.png) no-repeat -130px 0;
	cursor: pointer;
}
.main_top .main_top_r .cate{
	width: 620px;
	overflow: hidden;
	margin-bottom: 10px;
}
.main_top .main_top_r .cate .cate-list{
	float: left;
}
.main_top .main_top_r .cate span{
	float: left;
	line-height: 30px;
	margin-right: 10px;
	font-size: 14px;
	color: #848484;
}
.main_top .main_top_r .cate .cate-item{
	float: left;
	margin-right: 10px;
}
.main_top .main_top_r .cate .cate-item a{
	display: inline-block;
	border: 1px solid #fd532d;
	color: #fd532d;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
}
.main_top .main_top_r .productNum{
	width: 620px;
	height: 66px;	
	overflow: hidden;
	margin-top: 30px;
}
.main_top .main_top_r .productNum span {
	font-size: 14px;
	color: #848484;
	float: left;
	line-height: 30px;
	margin-right: 10px;
}
.main_top .main_top_r .productNum a{
	border: 1px solid #ccc;
	height: 30px;
	width: 30px;
	display: block;
	float: left;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	color: #848484;
	cursor: pointer;
}
.main_top .main_top_r .productNum input{
	border: 1px solid #ccc;
	height: 28px;
	width: 40px;
	display: inline-block;
	float: left;
	text-align: center;
}
.main_top .main_top_r .service span{
	font-size: 14px;
	color: #848484;
	vertical-align: middle;
	margin-right: 5px;
}
.main_top .main_top_r .service a{
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 19px;
	background: url(../../resource/img/kf_logo.png) no-repeat 0 -34px;
}
.main_top .main_top_r .btns a{
	display: block;
	width: 240px;
	height: 50px;
	background: #FD532D;
	border-radius: 5px;
	text-align: center;
	line-height: 50px;
	color: #FFFFFF;
	font-size: 16px;
	margin: 38px 0;
}
.main_top .main_top_r .btns a:hover{
	opacity: 0.9;
}
.main_top .main_top_r .btns a span{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../../resource/img/btn-ginfobtn.png) no-repeat;
	vertical-align: middle;
}
.main_top .main_top_r .txt{
	width: 620px;
	height: 54px;
}
.main_top .main_top_r .txt span{
	font-size: 14px;
	color: #848484;
	float: left;
	margin-right: 10px;
	line-height: 30px;
}
.main_top .main_top_r .txt ul{
	float: left;
}
.main_top .main_top_r .txt ul li{
	float: left;
	font-size: 14px;
	color: #848484;
	line-height: 30px;
	margin-right: 20px;
}
.main_top .main_top_r .txt ul .postage_free i{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../../resource/img/icons.png) no-repeat -94px -24px;
	vertical-align: middle;
	margin-bottom: 3px;
	margin-right: 5px;
}
.main_top .main_top_r .txt ul .sales_return i{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../../resource/img/icons.png) no-repeat -94px -46px;
	vertical-align: middle;
	margin-bottom: 3px;
	margin-right: 5px;
}
.main_top .main_top_r .txt ul .sales_replace i{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../../resource/img/icons.png) no-repeat -94px -68px;
	vertical-align: middle;
	margin-bottom: 3px;
	margin-right: 5px;
}
.gTab{
	border-top: 1px solid #e6e9ed;
	border-bottom: 1px solid #e6e9ed;
	padding: 20px 0;
}
.gTab .links{
	width: 1240px;
	margin: 0 auto;
	overflow: hidden;
}
.gTab .links li{
	float: left;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	margin-right: 20px;
}
.gTab .links li:hover{
	color: #6EC177;
}
.gCon{
	padding: 20px 0;
	width: 750px;
	margin: 0 auto;
}
.parameter{
	width: 1240px;
	margin: 0 auto;
}
.parameter p{
	font-size: 20px;
	height: 49px;
	line-height: 49px;
	border-bottom: 1px solid #E6E9ED;
	color: #000;
}
.parameter .ptable{
	width: 1000px;
	margin: 20px auto;
	border: 1px solid #ccc;
}
.parameter .ptable tr{
	width: 1000px;	
	line-height: 40px;
	font-size: 16px;
	
}
.parameter .ptable tr th{
	font-weight: 900;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.parameter .ptable tr .title{
	width: 25%;
	text-align: center;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.parameter .ptable tr td{
	padding: 0 20px;
	border-bottom: 1px solid #ccc;
}

.consult{
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0;
}
.consult dl{
	margin-bottom: 35px;
}
.consult dl dt{
	line-height: 30px;
	height: 30px;
	vertical-align: middle;
	margin-bottom: 20px;
}
.consult dl dt i{
	width: 35px;
	height: 30px;
	display: inline-block;
	background: url(../../resource/img/icon_ask_qa.png) no-repeat;
	vertical-align: middle;
}
.consult dl dt span{
	font-size: 18px;
	vertical-align: middle;
	width: 35px;
	display: inline-block;
}
.consult dl dd{
	line-height: 30px;
	vertical-align: middle;
	padding-left: 40px;
}
.consult dl dd i{
	width: 35px;
	height: 30px;
	display: inline-block;
	background: url(../../resource/img/icon_ask_qa.png) no-repeat 0 -45px;
	vertical-align: middle;
}
/*以下是footer部分样式*/
.footer_top{

	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
}
.footer_top_inner{
	width: 1240px;
	margin: 0 auto;
	padding: 16px 0;
	font-size: 16px;
	color: #302E33;
	overflow: hidden;
}
.footer_top ul li{
	float: left;
	height: 60px;
	line-height: 60px;
	width: 33%;
	text-align: center;
	border-right: 1px solid #e8e8e8;
}
.footer_top ul li span{
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid #23ac38;
	border-radius: 20px;
	text-align: center;
	line-height: 40px;
	margin-right: 10px;
}
.footer_middle{
	border-bottom: 1px solid #e8e8e8;	
}
.footer_middle .footer_middle_inner{
	width: 1240px;
	margin: 0 auto;
	padding: 30px 0;
	overflow: hidden;
}
.footer_middle .footer_middle_inner dl{
	float: left;
	width: 15%;
	margin-left: 100px;
}
.footer_middle .footer_middle_inner dl dt{
	font-size: 16px;
	color: #302E33;
	line-height: 40px;
}
.footer_middle .footer_middle_inner dl dd{
	line-height: 30px;
	vertical-align: middle;
}
.footer_middle .footer_middle_inner dl .number{
	color: #4aba00;
	font-size: 16px;
	font-weight: 900;
	line-height: 30px;
	vertical-align: middle;
}
.footer_middle .footer_middle_inner .servicebox{
	width: 150px;
	float: left;
	overflow: hidden;
	margin-left: 125px;
}
.footer_middle .footer_middle_inner .servicebox .weixin_icon{
	float: left;
	margin-right: 15px;
	margin-top: 30px;
}
.footer_middle .footer_middle_inner .servicebox .WeChatCode{
	width: 80px;
	height: 80px;
	float: left;
}
.footer_middle .footer_middle_inner .servicebox .weibo_icon{
	float: left;
	margin-right: 15px;
	margin-top: 48px;
}
.footer_middle .footer_middle_inner .servicebox .WeiboCode{
	margin-top: 18px;
	display: block;
	width: 80px;
	height: 80px;
	float: left;
}

.footer_bottom{
	height: 82px;
	line-height: 82px;
	text-align: center;
}
.rightsub{
	width: 3px;
	background: #636363;
	position:fixed;
	right: 0;
	top: 0;
	bottom: 0;
}
.rightsub ul{
	position: absolute;
	top: 50%;
	right: 0;
}
.rightsub ul li{
	width: 43px;
	background: #636363;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	margin-bottom: 3px;
}
.rightsub ul li:hover{
	background: #23ac38;
}
